.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.container {
  width: 150em;
  margin: 0 0.2em;
  float: left;
}

.bg {
  background-color: #61dafb;
  color: red;
}

.pic img {
  width: 400px;
  height: 200px;
  display: flex;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.channel,
.views {
  font-size: small;
  color: #ccc;
  margin-bottom: 0em;
}

.views span {
  padding: 0 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Apps {
  margin: 1rem;
  padding: 1rem;
  background-color: grey;
  color: white;
  text-align: center;
}


